* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; }
	body {
	padding: 0;
	margin: 0;
	font-family: san; }
@font-face {
	font-family: san;
	src:url(../fonts/SourceSansPro-Regular.otf);
}
@font-face {
	font-family: sanbold;
	src:url(../fonts/SourceSansPro-Semibold.otf);
}
:root {
	--white: #f5f5f5;
}
.wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.wrapper {
	position: relative;
    height: 100vh;
    background: #08430c url(../images/trang_chu.jpg) center center no-repeat;
    background-size: cover;
}

/*================CAMPAIGN HOME===============*/
.page__campaign a.campaign__logo {
	max-width: 50%;
	position: absolute;
	top: 5%;
	left: 5%;
}
.page__campaign a.campaign__logo img {
	margin: auto;
	display: inline-block;
	max-width: 50%;
	box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);
}
.campaign__title {
	color: var(--white);
	max-width: 550px;
	position: absolute;
	top: 3%;
	right: 2%;
	line-height: 18px;
}

/*=====THỂ LỆ CHƯƠNG TRÌNH======*/
.page__campaign .campaign__title h3  {
	text-transform: uppercase;
	font-family: sanbold;
	font-size: 14.5px;
}
.page__campaign .campaign__title .desc {
	font-size: 12px;
}

/*================CAMPAIGN MAIN===============*/
div.main {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
div.main .campaign__motor { width: 20%; }
div.main .campaign__car { width: 55% }
div.main .campaign__ticket { width: 20%; }

/*=====AIR BLADE======*/
div.main .campaign__motor img {
	max-width: 80%;
	position: absolute;
}
div.campaign__motor { position: relative; }
div.campaign__motor .bg-motor {
	left: 40%;
    bottom: -450px;
    z-index: 1;
    border-radius: 65%;
    box-shadow: 8px 5px 19px 1px rgba(0,0,0,0.2);
}
div.campaign__motor .img-motor {
	max-width: 77%;
	left: 30%;
	bottom: -460px;
	z-index: 2;
}

/*=====CAMPRY======*/
div.main .campaign__car img {
	max-width: 100%;
	position: absolute;
}
div.main .campaign__car img.bg-car {
	max-width: 38%;
	top: 14%;
	left: 31.5%;
	z-index: 1;
	/*border-radius: 65%;
    box-shadow: 12px 4px 19px 6px rgba(0,0,0,0.2)*/
}
/*div.main .campaign__car img.img-car {
	max-width: 33.5%;
	top: 32%;
	left: 35%;
	z-index: 2;
}*/
div.main .campaign__car img.total-prize {
	max-width: 21.25%;
	top: 2%;
	left: 35%;
	z-index: 3;	
} 

/*-------HIỆU ỨNG VÒNG TRÒN--------*/
.lds-dual-ring {
	position: absolute;
	display: inline-block;
  	width: 550px;
  	height: 550px;
  	top: 20px;
  	left: 30%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 550px;
  height: 550px;
  margin: 1px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  border-color: #f1f1f1 transparent #f1f1f1  #f1f1f1;
 -webkit-animation: lds-dual-ring 4.5s infinite alternate linear;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);

  }
}

.lds-dual-ring-1 {
	position: absolute;
	display: inline-block;
  	width: 490px;
  	height: 490px;
  	top: 30px;
  	left: 6.2%;
}
.lds-dual-ring-1:after {
	content: " ";
	display: block;
	width: 490px;
	height: 490px;
	margin: 1px;
	border-radius: 50%;
	border: 1px solid #f1f1f1;
	border-color: transparent #f1f1f1  #f1f1f1 #f1f1f1;
	animation: lds-dual-ring-1 4.5s infinite alternate linear;
}
@keyframes lds-dual-ring-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);

  }
}

.lds-dual-ring-2 {
	position: absolute;
	display: inline-block;
  	width: 440px;
  	height: 440px;
  	top: 33px;
  	left: 5%;
}
.lds-dual-ring-2:after {
  content: " ";
  display: block;
  width: 440px;
  height: 440px;
  margin: 1px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  border-color:  #f1f1f1 #f1f1f1 transparent #f1f1f1;
 -webkit-animation: lds-dual-ring-2 4.5s infinite alternate linear;
}
@keyframes lds-dual-ring-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*======Iphone và Thẻ cào======*/
div.main .campaign__ticket img {
	max-width: 100%;
	position: absolute;
}
div.main .campaign__ticket img.bg-iphone {
	max-width: 10%;
	top: 20%;
	right: 20%;
	border-radius: 65%;
    box-shadow: 8px 5px 19px 1px rgba(0,0,0,0.2);
}
div.main .campaign__ticket img.img-iphone {
	max-width: 8.5%;
	top: 23%;
	right: 20%;
}
div.main .campaign__ticket img.bg-ticket {
	max-width: 8%;
	top: 42%;
	right: 8%;
	border-radius: 65%;
    box-shadow: 6px 5px 19px 1px rgba(0,0,0,0.2);
}
div.main .campaign__ticket img.img-ticket {
	max-width: 9.5%;
	top: 42%;
	right: 7%;
}
.campaign__car .mini-c {
	top: 435px;
	left: 32%;
	z-index: 2;
	opacity: 0.9;
}
.campaign__ticket .light-6 {
	width: 75px;
	top: 38%;
	right: 9%;
	z-index: 2;
}
.campaign__ticket .light-7 {
	width: 75px;
	top: 16%;
	right: 20%;
	z-index: 2;
}

/*-----ÁNH SÁNG-----*/
.campaign__car .light-1 {
	width: 75px;
	top: 40%;
	left: 52%;
	z-index: 2;
}
.campaign__car .light-2 {
	width: 75px;
	top: 6%;
	left: 43%;
	z-index: 10;
}
.campaign__car .light-3 {
	width: 75px;
	top: 40%;
	left: 35%;
	z-index: 2;
}
.campaign__car .light-4 {
	width: 75px;
	top: 40%;
	right: 29%;
	z-index: 2;
}
.campaign__motor .light-5 {
	width: 75px;
	z-index: 2;
	top: 200px;
	left: 120px;

}
/*===========FOOTER============*/
#footer {
	max-width: 100%;
	height: 190px;
	margin-top: 530px;
}
#footer .col-md-6 {
	margin: 0 auto;
	height: 190px;
}
#footer .col-md-6 > img.title-prize {
	max-width: 78%;
	margin: 20px auto;
	display: block;
}
#footer .col-md-6 > div.campaign__user {
	width: 240px;
	max-height: 95px;
	text-align: center;
	margin: auto;
	background-image: linear-gradient(to right, #f8bc0c, #fffabf);
	border-radius: 9px;
	transform: skewX(-20deg);
	border: 5px solid #FFFF66;
	-webkit-box-shadow: -1px 14px 36px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 14px 36px -11px rgba(0,0,0,0.75);
	box-shadow: -1px 14px 36px -11px rgba(0,0,0,0.75);
	transition: .35s all ease;
}
#footer .col-md-6 > div.campaign__user:hover {
	-webkit-transform: scale(1.25) skewX(-20deg);
	-moz-transform: scale(1.25) skewX(-20deg);
	transform: scale(1.25) skewX(-20deg);
	transition: .35s all ease;
}
#footer .col-md-6 > div.campaign__user a {
	color: #14438e;
	border-radius: 9px;
	font-weight: bold;
	display: block;
	line-height: 25px;
	font-family: sanbold;
	text-transform: uppercase;
	font-size: 19.5px;
	z-index: 2;
	transform: skew(20deg);
	text-decoration: none;
}
/*----user-2----*/
#footer .col-md-6 > div.campaign__user-2 {
	width: 240px;
	max-height: 95px;
	text-align: center;
	margin: auto;
	background-image: linear-gradient(to right, #6fca00, #fffabf);
	border-radius: 9px;
	transform: skewX(-20deg);
	border: 5px solid #67E257;
	-webkit-box-shadow: -1px 14px 36px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 14px 36px -11px rgba(0,0,0,0.75);
	box-shadow: -1px 14px 36px -11px rgba(0,0,0,0.75);
	transition: .35s all ease;
}
#footer .col-md-6 > div.campaign__user-2:hover {
	-webkit-transform: scale(1.25) skewX(-20deg);
	-moz-transform: scale(1.25) skewX(-20deg);
	transform: scale(1.25) skewX(-20deg);
	transition: .35s all ease;
}
#footer .col-md-6 > div.campaign__user-2 a {
	color: #14438e;
	border-radius: 9px;
	font-weight: bold;
	display: block;
	line-height: 25px;
	font-family: sanbold;
	text-transform: uppercase;
	font-size: 19.5px;
	z-index: 2;
	transform: skew(20deg);
	text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1367px) {
	* {}
	.wrapper {
		max-width: 100%;
		max-height: 100%;
		box-sizing: border-box;
	}
	.page__campaign a.campaign__logo { 
		width: 17%; 
	}
	div.page__campaign .campaign__title h3 {
		font-size: 12px;
	}
	div.page__campaign .campaign__title p {
		font-size: 10px;
	}
	div.main .campaign__motor .bg-motor {
		width: 80%;
		top: 180px !important;
	}
	div.main .campaign__motor .img-motor {
		width: 76%;
		top: 200px !important;
		left: 90px;
	}
	div.main .campaign__car .bg-car {
		max-width: 36.5% !important;
		top: 89px !important;
		left: 355px !important;
	}
	img.bg-iphone {
		top: 150px !important;
	}
	img.img-iphone {
		top: 170px !important;
	}
	div.campaign__car div.lds-dual-ring:after {
		width: 420px !important;
		height: 420px !important;
	}
	div.campaign__car div.lds-dual-ring {
		top: 50px !important;
		left: 27%;
		width: 420px !important;
		height: 420px !important;
	}

	div.lds-dual-ring-1:after {
		width: 380px !important;
		height: 380px !important;
	}
	div.lds-dual-ring-1 {
		width: 380px !important;
		height: 380px !important;
		top: 20px;
		left: 19px !important;
	}

	div.lds-dual-ring-2:after {
		width: 350px !important;
		height: 350px !important;
	}
	div.lds-dual-ring-2 {
		width: 350px !important;
		height: 350px !important;
		top: 15px;
		left: 14px;
	}
	div.campaign__car .mini-c {
		width: 35px;
		top: 380px;
		left: 29.5%;
	}
	div.campaign__car .light-1 {
		top: 36% !important;
		left: 28.5%;
	}
	div.campaign__car .light-2 {
		top: 4.5% !important;
		left: 42.5%;
	}
	div.campaign__car .light-3 {
		top: 37%;
		left: 45%;
	}
	div.campaign__car .light-4 {
		top: 37%;
		left: 59%;
	}
	img.light-5 {
		left: 95px !important;
		top: 180px !important;
	}
	img.light-6 {
		top: 36% !important;
		right: 50px;
	}
	img.light-7 {
		top: 18% !important;
		right: 22% !important;
	}
	#footer {
		margin-top: 450px;
		margin-bottom: 100px !important;
	}
	#footer .col-md-6 > img.title-prize {
		max-width: 75%;
	}
	#footer .col-md-6 > div.campaign__user {
		-webkit-transform: scale(1.15) skewX(-20deg);
		   -moz-transform: scale(1.15) skewX(-20deg);
		    -ms-transform: scale(1.15) skewX(-20deg);
		     -o-transform: scale(1.15) skewX(-20deg);
		        transform: scale(1.15) skewX(-20deg);
	}
	#footer .col-md-6 > div.campaign__user-2 {
		-webkit-transform: scale(1.15) skewX(-20deg);
		   -moz-transform: scale(1.15) skewX(-20deg);
		    -ms-transform: scale(1.15) skewX(-20deg);
		     -o-transform: scale(1.15) skewX(-20deg);
		        transform: scale(1.15) skewX(-20deg);
	}

}